[.*]
tab_width = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts}]
tab_width = 2
indent_style = space

[*.{yaml,yml}]
tab_width = 2
indent_style = space

[*.md]
tab_width = 4
indent_style = space
trim_trailing_whitespace = false

[*.py]
tab_width = 4
indent_style = space
